body {
    color: #333;
    font-family: "Arial", sans-serif; /* Specify your preferred font family */
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .2rem;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav > div {
    padding: 2rem;
}

.logo {
    font-family: "Arial", sans-serif; /* Specify your preferred font family */
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold if desired */
    color: #333; /* Default brown color for the logo */
    text-decoration: none; /* Remove underlines if it's a link */
    padding-left: 3rem; /* Add padding to the left as you mentioned */
    /* You can add more styling properties if needed */
}

.logo:hover {
    background: linear-gradient(to right, #8B4513, #4CAF50); /* Brown to green gradient */
    -webkit-background-clip: text; /* Clip the text to the background gradient */
    color: transparent; /* Make the text transparent to reveal the gradient */
    transition: color .5s; /* Add a smooth transition for color changes */
}

/* Remove the default blue color and underlines from links */
nav a {
    color: inherit; /* Use the parent element's text color (in this case, the logo's color) */
    text-decoration: none; /* Remove underlines */
}

/* Style the links when hovering over them */
nav a:hover {
    /* Add your desired styles, e.g., change color */
    color: #4CAF50; /* Green color for the link on hover */
    /* You can also add other styles like font-weight, background, etc. */
}

#cropChat, #contact, #about, header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: black;
    color: white;
}

.img {
    background: url(./header-img.jpg);
    opacity: .5;
    min-width: 100%;
}


.img > h1 {
    padding: 300px;
}
